.logo{
    margin-bottom: 0px;
    width: 450px;
    height:100px;
}
.custom-button{
    border-radius: 30px;    
    box-shadow: inset 0px 7px 16px rgba(0, 0, 0, .1);
    opacity: .6;
}
.radioelement:hover + label,
.radioelement:checked + label{
    background-color: #084897!important;
    color: white;
    box-shadow: inset 11px 12px 15px rgba(255, 255, 255, .2)!important;
    opacity: 1;
}
.input-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.containerchart{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 16%;
    width: 16%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #e70e5e;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.custom-card .title{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
    .logo{
        width: 200px;
    }
    .custom-button p{
        font-size: 20px;
    }
}