.logo{
    margin-bottom: 0px;
    width: 450px;
}
.init_button{
    background: #fc466b;
    font-size: 28px;
    color: #000;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
    font-weight: 800;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.init_button:hover{
    box-shadow: 0 0 30px 0 transparentize(#dd6d84, 0.5);
    animation:transition(all 0.2s ease-out);
}
.init_button::after {
    content: "";
    background: #ffaf01; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
.init_button:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}
.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.containerchart{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 16%;
    width: 16%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .logo{
        width: 200px;
    }
}