<div class="container mx-auto px-4 py-5 mt-4 mb-10">
    <div class="flex flex-col items-center justify-center h-screen">
        <img src="./assets/quizania.svg" class="logo">    
        <form [formGroup]="initForm" novalidate (submit)="onSubmit($event)">
            <div class="lg:md:container-md lg:md:mx-auto sm:container-sm">
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex items-end flex-col align-middle">
                        <p class="text-sm font-bold mt-10 mb-2 text-white">Difficulty level:</p>
                        <select id="levelQuestions" name="levelQuestions" [ngClass]="{'bg-red-100 border border-red-500 text-red-900': hasErrors('levelQuestions','required')}"  required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 lg:md:w-1/4"  formControlName="levelQuestions">
                            <option value="" selected>Choose level</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                        @if (hasErrors('levelQuestions','required')) {
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500">You need to select a level</p>
                        }
                    </div>
                    <div>
                        <p class="text-sm font-bold mt-10 mb-2 text-white">Select Type:</p>
                        <select id="typeQuestions" name="typeQuestions" [ngClass]="{'bg-red-100 border border-red-500 text-red-900': hasErrors('typeQuestions','required')}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 lg:md:w-1/4"  formControlName="typeQuestions">
                            <option value="" selected>Choose Type</option>
                            <option value="multiple">Multiple choice</option>
                            <option value="boolean">True/False</option>
                        </select>
                        @if (hasErrors('typeQuestions','required')) {
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500">You need to select a type</p>
                        }
                    </div>
                </div>
            </div>
            <p class="text-2xl font-bold mt-10 mb-10 text-white">Select a category to start:</p>
            <div class="grid lg:md:grid-cols-6 grid-cols-2 gap-6">
                @for (category of categories; track $index) {
                    <input type="radio" id="category{{$index}}" name="categoryQuestions" value="{{category.id}}" class="hidden appearance-none custom-button radioelement" formControlName="categoryQuestions"/>
                    <label for="category{{$index}}" class="flex font-bold inline-flex items-center justify-between w-full p-5 text-white rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 input-content custom-button radioelement" style="background: {{category.color}};">                           
                        <div class="block">
                            <img src="./assets/icons/{{category.icon}}.svg" width="50" height="50" class="mx-auto mb-2">
                            <p class="text-center lg:md:text-2xl title">{{category.name}}</p>
                        </div>
                    </label>
                }
                @if (hasErrors('categoryQuestions','required')) {
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">You need to select a category</p>
                }
            </div>
            <div class="flex items-end w-full">
                <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="mt-8 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" type="button">
                    Example question
                </button>
                <button class="mt-8 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" type="submit">Start</button>
            </div> 
        </form>
        <!-- Modal toggle -->
        

        <!-- Main modal -->
        <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Example question
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        @if(question!=null){
                            <div class="w-full flex justify-center mb-10">
                                <app-card-question class="w-full flex justify-center" [question]="question" element="question.leght()"></app-card-question>
                            </div>
                        }
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
    