@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;;
    background: url("/assets/back.png") no-repeat, -moz-linear-gradient(180deg, rgba(62,85,200,1) 0%, rgba(252,70,107,1) 100%);
    background: url("/assets/back.png") no-repeat, -webkit-linear-gradient(180deg, rgba(62,85,200,1) 0%, rgba(252,70,107,1) 100%);
    background: url("/assets/back.png") no-repeat, rgb(62,85,200);
    background: url("/assets/back.png") no-repeat, linear-gradient(180deg, rgba(62,85,200,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e55c8",endColorstr="#fc466b",GradientType=1);
    background-size: cover;
}